#loading-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #FFFFFF;
    opacity: 0.7;
}
#loading-overlay .spinner-loader {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1  ;
}

#inbox-table .btn {
    display: block;
    float: left;
    margin: 0px 2px;
}

#inbox-toolbar {
    font-size: 35px;
    margin: 10px 0px;
}

.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#folders-list .add-new-folder{
    color: #959595;
}

#folders-list .add-new-folder .glyphicon {
    float: right;
}

.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}
.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}
.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div{
    height: 30px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.sidebar.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    background: #F9F9F9;
    z-index: 1050;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
}

.sidebar.left .add-new-contact{
    color: #959595;
}

#add-contact-form {
    margin-left: 17px;
}

.element-new {
    padding: 20px;
}

.contact-element .hover-btn {
    position: relative;
    display: none;
    float: right;
    font-size: 15px;
}

.contact-element:hover .hover-btn {
    display: block;
}

.contact-username {
    display: inline;
}

.folder-element, .inbox-element {
    cursor: pointer;
}