<h1>index</h1>

<a href="/cas/index.html">Protected url by CAS: cas/index.html</a><br />

<a href="/protected/index.html">Protected url: protected/index.html</a><br />
<br />
<a href="jwt.html">Generate a JWT token</a><br />
<a href="/dba/index.html">Protected url by DirectBasicAuthClient (POST the <em>Authorization</em> header with value: <em>Basic amxlbGV1OmpsZWxldQ==</em>) then by ParameterClient (with request parameter: token=<em>jwt_generated_token</em>): /dba/index.html</a><br />
<a href="/rest-jwt/index.html">Protected url by ParameterClient (with JwtAuthenticator): /rest-jwt/index.html?token=<em>jwt_generated_token</em></a><br />
<br />
<a href="logout?url=https://localhost:8443/cas/logout?service=http://localhost:8081">logout</a>
<br /><br />
profile : {{profile}}
<br /><br />
<hr />


<a href="{{urlCas}}">Authenticate with CAS</a><br />

